<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<h1>UPDATE PRODUCT</h1>
		
		
		<form action="#" th:action="@{/update/{id}(id=${product.id}) }" 
		th:object="${product}" method="post">
		
			<label for="id">Id</label>
			<input type="number" th:field="*{id}" disabled="disabled">
		
			<label for="name">Nom</label>
			<input type="text" th:field="*{name}">
			<br>
			<label for="description">Description</label>
			<input type="text" th:field="*{description}">
			<br>
			<label for="price">Prix</label>
			<input type="number" th:field="*{price}">
			<br>
			<label for="quantite">Quantite</label>
			<input type="number" th:field="*{quantite}">
			<br>
			<input type="submit" value="update product">
		</form>
		
		
		<a href="/hello">Home</a>
	</body>
</html>